<%# if 'archived'.eql? @scope %>
<%#= link_to t('feedback.show_active_feedbacks'), url_for(feedback_target_feedback_form_feedbacks_path(@feedback_target, @feedback_form,pagination_params)), :class=>'scope_action', :data => {:remote => true, :updatable_element_selector => '#feedbacks_table'} %>
<%# else %>
<%#= link_to t('feedback.show_archived_feedbacks'), url_for(feedback_target_feedback_form_feedbacks_path(@feedback_target, @feedback_form,pagination_params.merge(:scope => 'archived'))), :class=>'scope_action', :data => {:remote => true, :updatable_element_selector => '#feedbacks_table'} %>
<%# end %>
<p class="pull-right">Listados dos mais recentes para os mais antigos</p>
<%#= will_paginate @feedbacks, :class => 'apple_pagination' %>
<table id="feedbacks" class="table table-bordered table-hover table-responsive table-striped" data-source="<%= feedback_target_feedbacks_url(:id=> params[:id], format: "json") %>">
  <thead>
    <tr>
        <td colspan="100">
          <%= will_paginate @feedbacks, :class => 'apple_pagination' %>
        </td>
    </tr>
    <tr>
      <!-- <th>Id</th>
      <th>Tipo Relato</th>
      <th>Data</th>
      <th>Texto</th>
      <th>Captura de Tela</th> -->
      <% @feedback_form.grid_checked_columns.each do |column| %>
        <%= content_tag :th, humanize_column(column.display_label) unless column.display_label.empty? %>
      <% end %>
      <th><%= t 'Actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr class='feedback_line' data-target-selector='#<%= id_for_panel_feedback_detail(feedback) %>'>
        <% grid_columns = @feedback_form.grid_columns || @feedback_form.all_columns %>
        <% grid_columns.each do |column_name| %>
          <% unless column_name.empty? %>
          <td><%= show_column_value(feedback, column_name) %></td>
          <% end %>
        <% end %>
        <td><%#= link_to t('Archive'), archive_feedback_target_feedback_path( @feedback_target, feedback), :remote => true, :method => :post, :data => {:type => 'json', :target_selector => 'a'} %>
          <% if feedback.active %>
            <%= link_to_archive(feedback)  %>
          <% else %>
            <%= link_to_unarchive(feedback) %>
            <%= link_to_destroy(feedback) %>
          <% end %>
          <%#= content_tag :a, t('Details'), :class => 'feedback_detail_link', :data => {:target_selector => "#feedback_detail_#{feedback.id }" } %>
          <%= link_to '', show_detail_path(feedback), class: 'detail_link', remote: true %>
        </td>
      </tr>
      <%= content_tag :tr, :id => id_for_line_feedback_detail(feedback), :class => 'feedback_detail' do %>
        <%= content_tag :td, {id: id_for_panel_feedback_detail(feedback), colspan: 100} do %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
  <tfooter>
  <tr>
      <td colspan="100">
        <%= will_paginate @feedbacks, :class => 'apple_pagination' %>
      </td>
  </tr>
  </tfooter>
</table>
<script type='text/javascript'>
$('#feedbacks_table a[data-remote].scope_action').on('click', function(){
  var element_selector = $(this).data('updatableElementSelector');

  $(element_selector).hide();
})
</script>
