<%= bootstrap_form_for @feedback_form, :url => url_for_form(@feedback_target, @feedback_form) do |f|  %>

  <%= f.form_group class: 'col-lg-12' do %>
    <%= f.error_summary %>
  <% end %>
  <%= f.text_field :name %>

  <%= f.text_field :report_button_label %>

  <%= render partial: 'attributes_table', :locals => {f: f} %>

  <%= f.form_group class: 'col-lg-3 columns_setup' do %>
    <%= f.collection_check_boxes :grid_columns, @feedback_form.columns_for_grid_setup, :name, :label %>
  <% end %>

  <%= f.form_group class: 'col-lg-3 columns_setup' do %>
    <%= f.collection_check_boxes :detail_columns, @feedback_form.columns_for_detail_setup, :name, :label %>
  <% end %>

  <%= f.form_group class: 'col-lg-3', label: {text: t('feedback_form.form_group.plugins') }  do %>
    <%= f.check_box :screenshot_enabled, label: 'ScreenShot' %>
    <%= f.check_box :review_enabled, label: 'Review' %>
  <% end %>

  <%= f.form_group class: 'col-lg-3 columns_setup' do %>
    <%= f.collection_radio_buttons :description_field_name, @feedback_form.columns_for_detail_setup, :name, :label %>
  <% end %>

  <%= render partial: 'feedback_forms/workflow/form_workflow', locals: {f: f}%>

  <%= f.form_group :class => 'col-lg-12' do %>
    <%= f.primary t('Submit')  %>
    <%= link_to t('Cancel'), './', :class => 'btn btn-warning'  %>
  <% end %>
<% end %>

<script type='text/javascript'>

$(document).on('ready page:load',function(){
  $(document).on('cocoon:after-remove', function(){
    //var refresh_positions = function(){
      $('.sorted_table tr:visible input.position').each(function(index){
        $(this).val(index);
      });
    //}
    //window.setTimeout(refresh_positions, 250 );
  });

  $('div.columns_setup').sortable({
    containerSelector: 'div.form-group',
    itemPath: '> div',
    itemSelector: 'div.checkbox',
    placeholder: '<div class="placeholder"/>'
  });

  $('.sorted_table').sortable({
    containerSelector: 'table',
    itemPath: '> tbody',
    itemSelector: 'tr',
     placeholder: '<tr class="placeholder"/>',
     onDrop: function(){
       $('.sorted_table tr:visible input.position').each(function(index){
         $(this).val(index);
       });
     }
  });
});

</script>
